<div class="flex flex-col items-center justify-center px-4 py-8 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <h1
        class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-gray-900 dark:text-shadow-xs"
    >
        {{ (isWorkingMode ? 'SERVICES.WORKING_MODE.TITLE' : 'SERVICES.CREATION_MODE.TITLE') | translate }}
    </h1>
    <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-500">
        {{ (isWorkingMode ? 'SERVICES.WORKING_MODE.DESCRIPTION' : 'SERVICES.CREATION_MODE.DESCRIPTION') | translate }}
    </p>

    <div *ngIf="!isWorkingMode">
        <a
            class="inline-flex items-center justify-center cursor-pointer px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
            (click)="createBlockchain()"
        >
            {{ 'SERVICES.CREATION_MODE.ACTIONS.CREATE_BUTTON' | translate }}
            <svg
                class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
            >
                <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"
                />
            </svg>
        </a>
    </div>

    <div *ngIf="isWorkingMode" class="w-[50vw]">
        <form class="w-full" (ngSubmit)="saveNewBlock()">
            <label for="save" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Save</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-floppy w-4 h-4 text-gray-500 dark:text-gray-400"
                        viewBox="0 0 16 16"
                    >
                        <path d="M11 2H9v3h2z" />
                        <path
                            d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z"
                        />
                    </svg>
                </div>
                <input
                    type="save"
                    id="save"
                    name="save"
                    [(ngModel)]="inputValue"
                    [ngModelOptions]="{ standalone: true }"
                    class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Type some data to save..."
                    required
                />
                <button
                    type="submit"
                    class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 cursor-pointer"
                >
                    Save
                </button>
            </div>
        </form>
    </div>

    <div *ngIf="isWorkingMode" class="mt-8 flex flex-wrap justify-evenly items-center h-full w-full p-4 rounded">
        <div *ngFor="let block of blockchainChain" class="flex justify-center mt-1 mb-1">
            <div class="flex justify-center mt-1 mb-1">
                <div
                    class="block max-w-[18rem] rounded-lg bg-red-800 text-white shadow-[0px_4px_6px_0px_#a2a3a3]"
                >
                    <div class="border-b-2 border-black/20 px-6 py-3 text-white">
                        Block Hash: ...{{ block.hash.slice(-10) }}
                    </div>
                    <div class="p-6">
                        <h5 class="mb-2 text-xl font-medium leading-tight">Unverified Block</h5>
                        <ul class="text-sm font-normal text-gray-500 dark:text-white">
                            <li class="mb-2"><span class="font-semibold">Height:</span> {{ block.height }}</li>
                            <li class="mb-2">
                                <span class="font-semibold">Time:</span> {{ block.time | date : 'short' }}
                            </li>
                            <li class="mb-2">
                                <span class="font-semibold">Previous Hash:</span> ...{{
                                    block.prevBlockHash.slice(-10)
                                }}
                            </li>
                            <li class="mb-2"><span class="font-semibold">Data:</span> {{ block.body }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
